*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #region utilities */
:root {
    --body-bg: #023047;
    --blue-tech: #000080;
    --green-geo: #008001;
    --purple-kitchen: #800080;
    --salmon-viaggi: #f3a360;
    --yellow-arte: #ffd601;
}
/* #endregion utilities */ 
h1{
    margin-top: 20px;
    color: white;
    text-align: center;
}
.container{
    display:flex;
    justify-content:space-between;
    width: 45%;
    background-color: white;
    padding: 20px;
    }
.btn{
    color: white;
    border: 0;
}
.btn-geo{
    background-color: var(--green-geo);    
}
.btn-tech{
    background-color: var(--blue-tech);    
}
.btn-kitchen{
    background-color: var(--purple-kitchen);    
}
.btn-viaggi{
    background-color: var(--salmon-viaggi);    
}
.btn-arte{
    background-color: var(--yellow-arte);    
}
h2{
    color: white;
    background-color: var(--body-bg);
}
.card{
    border: 0;
}